<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="content-header">
            <h1><a href="/">Some News</a></h1>
        </div>
        <div class="content-wrap">
            <div class="content-body">
                {% block body %}{% endblock %}
                {% block javascripts %}
                    <script src="{{ asset('bundles/app/js/jquery-3.1.1.min.js') }}"></script>
                    <script src="{{ asset('bundles/app/js/app.js') }}"></script>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
