{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="news-loader" class="loader" style="display: none">
                <object type="image/svg+xml" data="{{ asset('bundles/app/img/loader.svg') }}"></object>
            </div>
            <div id="news-block">

            </div>
        </div>
    </div>
{% endblock %}