{% block newsTable %}
    <div class="news-list">
        {% for post in newsPosts %}

            <article>
                <div class="img">
                    <a href="{{ '/read/'~ post.alias}}">
                        <img src="{{ asset('/uploads/newsImg/' ~ post.imgFileName) }}" alt=""/>
                    </a>
                </div>
                <div class="post-content">
                    <div class="post-header">
                        <h3>
                            <a href="{{ '/read/' ~ post.alias }}">{{ post.title }}</a>
                        </h3>
                    </div>
                    <div class="post-preview">
                        {{ post.textPreview | raw }}
                    </div>
                    <div class="post-date">
                        <sapn>{{ post.dateCreate | date('Y-m-d h:i:s') }}</sapn>
                    </div>
                </div>
            </article>

        {% endfor %}
    </div>
    {% if pagesList | length > 1 %}
    <div class="pagination">
        <ul>
        {% for p in pagesList %}
            <li class="{% if page == p %}active{% endif %}">
                <a href="#" data-page="{{ p }}" >{{ p + 1 }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock newsTable %}