{% extends 'base.html.twig' %}
{% block body %}
    <article class="post-view">

        <h1>
            <a href="{{ '/read/'~ post.alias}}" style="">
            {{ post.title }}
            </a>
        </h1>

        <div>
            <a href="{{ '/read/'~ post.alias}}" style="float: left; margin-right: 15px;">
                <img src="{{ asset('/uploads/newsImg/' ~ post.imgFileName) }}" alt=""/>
            </a>
            <p>
                {{ post.textArticle | raw }}
            </p>
        </div>
    </article>
    <a href="/">Назад к списку новостей</a>
{% endblock  %}