{% extends 'base.html.twig' %}
{% block body %}
    <div class="block">
        <h1>Админка</h1>
    </div>
    <div class="block">
        <a href="/admin/news/list">Редактирование новостей</a>
    </div>
    <div class="page-body">
        {% block adminBody %} {% endblock adminBody %}
    </div>
{% endblock body %}