{% extends 'admin/index.html.twig' %}

{% block adminBody %}
    {% if post.imgFileName %}
        <img src="{{ asset('/uploads/newsImg/' ~ post.imgFileName) }}" />
    {% endif %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{%  endblock adminBody %}