{% extends 'admin/index.html.twig' %}

{% block adminBody %}
    <div class="block">
        <table class="table-news-admin">
            <tbody>
                {% for newsPost in newsPosts %}
                    {% include 'admin/news_list_row.html.twig' with {'newsPost' : newsPost} %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="block">
        <a class="btn" href="/admin/news/edit">Создать новость</a>
    </div>
{%  endblock adminBody %}