{% block newsItemRow %}
    <tr>
        <td>
            <a href="{{ '/admin/news/edit/'~newsPost.newsPostId }}">
                {{ newsPost.title }}
            </a>
        </td>
        <td>
            <span>{{ newsPost.dateCreate | date('Y-m-d h:i:s') }}</span>
        </td>
        <td>
            <a href="{{ '/admin/news/delete/'~newsPost.newsPostId }}">Удалить</a>
        </td>
    </tr>
{% endblock newsItemRow %}