*{

}
body{
    padding: 0;
    margin: 0;
    font-family: open sans-serif, Arial, Verdana, "Trebuchet MS";
}
h1, h3{
    margin: 0;
}

.block{
    margin: 15px 0px;
}
.content-wrap{
    padding: 0;
    width: 1080px;
    margin: 0 auto;
}
.content-body{
    padding: 15px;
}
.content-header{
    height: 50px;
    background-color: #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.content-header>h1{
    margin: 0;
    line-height: 50px;
    text-align: center;

}
.content-header>h1>a{
    color: #6f6f6f;
    text-decoration: none;
}

.news-list{
}
.news-list article{
    clear: left;
    padding: 15px;
    overflow: hidden;
}

.news-list article img,
.post-view img{
    width: 300px;
    height: 200px;
    float: left;
    border: 5px solid #efefef
}
.news-list article img{
    margin-right: 20px;
}

.news-list article .post-content{
    overflow: hidden;
}

.news-list article .post-header a{
    color: #636363;
    text-decoration: none;
}
.news-list article .post-preview{
    margin-top: 15px;
}
.news-list article .post-date{
    margin-top: 15px;
    color: #c0c0c0;
}
.pagination{
    clear: left;
}
.pagination ul{
    display: block;
}
.pagination ul li{
    display: inline-block;
}
.pagination ul li>a{
    padding: 5px;
    text-decoration: none;
}

.pagination ul li.active>a{
    background-color: #08c;
    color: #FFF;
}

.post-view{
    background-color: #FFF;
}
.post-view div{
    overflow: hidden;
}
.post-view p{
    margin-top: 0;
}
.post-view h1{
    margin-bottom: 20px;
}
.post-view h1>a{
    text-decoration: none;
    color: #000;
}

table{
    width: 100%;
    border-collapse: collapse;
}
table tbody td{
    border: 1px solid lightgray;
    padding: 10px;
}
table.table-news-admin td:nth-child(2){
    width: 150px;
}
table.table-news-admin a,
a.btn{
    color: #08c;
    text-decoration: none;
}
table.table-news-admin a:visited{
    color: #08c;
}
table.table-news-admin td:last-of-type{
    width: 40px;
}
.loader{
    text-align: center;
}
.btn, button{
    cursor: pointer;
    display: inline-block;
    background-color: #FFF;
    border: 1px solid lightgray;
    padding: 10px;
    transition: all ease-in 40ms;
}
.btn:hover, button:hover{
    background-color: #08c;
    color: #FFF;
}
form div div{
    margin: 15px 0px;
}
form label{
    display: block;
}
form input{
    height: 18px;
    padding: 5px;
    min-width: 400px;
}
form textarea{
    height: 100px;
    padding: 5px;
    min-width: 400px;
}
